.vs/FakeUserDataGenerator/CopilotIndices/0.2.1653.9816/CodeChunks.db
.vs/FakeUserDataGenerator/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
.vs/FakeUserDataGenerator/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
.vs/FakeUserDataGenerator/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
.vs/FakeUserDataGenerator/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
.vs/FakeUserDataGenerator/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
.vs/FakeUserDataGenerator/FileContentIndex/66d5a16a-df59-4eda-aa69-39ff978a4d08.vsidx
.vs/FakeUserDataGenerator/FileContentIndex/701fa74a-dd74-4418-98cf-c751e0f1ea36.vsidx
.vs/FakeUserDataGenerator/FileContentIndex/7177b9b4-8b06-455c-b45d-395143fc3f37.vsidx
.vs/FakeUserDataGenerator/FileContentIndex/407173ed-0f5b-4a6b-b4bb-2eca20bd3e7c.vsidx
.vs/FakeUserDataGenerator/FileContentIndex/07261896-c987-444d-865d-0a1067e653fd.vsidx
